<form action="/search" method="GET">
  <label>
    Name:
    <input
      type="text"
      name="name"
      minlength="1"
      maxlength="21"
      value="<%= locals.name %>"
    />
  </label>
  <button type="submit">Search</button>
</form>
