<html>
  <head>
    <link rel="stylesheet" href="/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <% if (locals.users) { %>
    <table>
      <tbody>
        <% users.forEach(user => { %> <%- include('partials/user.ejs', { user })
        %> <% }) %>
      </tbody>
    </table>
    <% } %>
    <a href="/user/create">Create a user</a>
    <a href="/search">Search users</a>
    <%- include('partials/searchbox.ejs') %>
  </body>
</html>
